.conten{
    position: relative;
    background: rgb(45, 177, 218);
    border-radius: 20px;
    margin: 10px;
    height: 290px;
    width: 300px;
    justify-content: center;
    background-color: #2788d78f;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
    margin: 10px;
    top: 130px;
    left: 70px;
}

.conten label{
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: sans-serif;
  margin: 10px;
  top: 20px;
}

.conten button{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 115px;
    margin: 10px;
    background:  rgb(72, 241, 213);
    border-radius: 5px ;
    border: 2px solid rgb(1, 88, 88);
    font-size: 20px;
    top: 50px;
}
.conten input {
    display: flex;
    position: relative;
    margin: 3px;
    padding: 3px;
    border-radius: 4px;
    border: rgb(2, 2, 2) solid 1px;
    top: 20px;
    left: 70px;
    justify-content: center;
    align-self: center;
}


.error{
    display: flex;
    position: relative;
    color: rgb(224, 34, 34);
    justify-content: center;
    top: 20px;
    font-size: 17px;
    font-family: Insaniburger;
    margin: 0px;
}

/* .image{
    display: flex;
    position: relative;
    background-position: center;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url("./Rick_and_Morty.png");
    height: 160px;
    width: 540px;
    margin: 10px;
    bottom: 160px;
   
} */