.contenedor{
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

.contenedor input{
    position: relative;
    border: 3px solid rgb(4, 136, 15);
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    justify-content: center;
}

.contenedor button {
    background: rgb(98, 211, 111);
    border: 3px solid rgb(4, 136, 19);
    border-radius: 15px;
    margin: 3px;
    padding: 3px;
}