
.contenedor{
    display: flex;
    position: fixed;
    background-color: #000000dc;
    padding: 15px;
    width: 1070px;
    justify-content: space-around;
    bottom: 480px;
    right: 0px;
    
}  
.favorito{
    display: flex;
    position: relative;
    padding: 6px;
    width: 120px;
    border-radius: 10px;
    background: rgb(17, 165, 7);
    border: 3px solid rgb(3, 81, 7);
    color: white;
    font-size: 14px;
    margin: 5px;

 } 

 .link{
  text-decoration: none
 }



 .home{
    display: flex;
    position: relative;
    padding: 6px;
    border-radius: 10px;
    background: rgb(17, 165, 7);
    color: white;
    margin: 5px;
    border: 3px solid rgb(3, 81, 7);
 
 } 
 .about{
    display: flex;
    position: relative;
    padding: 6px;
    border-radius: 10px;
    background: rgb(17, 165, 7);
    color: white;
    margin: 5px;
    border: 3px solid rgb(3, 81, 7);
 
 } 

